@import "tailwindcss";

/* Scrollbar style */
.scrlbar{
    scrollbar-width: none;
}
.scrlbar::-webkit-scrollbar{
    display: none;
}


/* Scrollbar style */
::-webkit-scrollbar{
    width: 8px;
}
/* ::-webkit-scrollbar-track{
    background: #FF5252;
} */
::-webkit-scrollbar-thumb{
    background-color: #FF5252;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #e43333;
}

body {
    font-family: "Montserrat", sans-serif;
    /* color: #3e3e3e; */
}

@theme {
    --max-width-container: 95%;
    --color-red: #FF5252;
    --color-gray: #dfdfdf;
    --color-gray1: #e5e7eb;
    --font-mont: "Montserrat", sans-serif;
    --color-body: #fcfcfc;

}